# Python
__pycache__/
*.pyc

# Logs
*.log
alerts.log

# Credentials
.aws/
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/deployer-key.pem
*.pem

# System
.DS_Store
